# Print Hello World Cik

In [1]:
print("Hello World !")

Hello World !

In [2]:
print(2+3)

5

In [3]:
print(10*2+5) # ini adalah fungsi matematika
print("Teknologi Rekayasa Perangkat Lunak") # ini adalah prodi saya

25
Teknologi Rekayasa Perangkat Lunak

In [ ]:
print("Ini adalah sebuah baris kode") #Ini adalah contoh comment dan tidak tercetak

Ini adalah sebuah baris kode

# **If Statement ðŸ˜­**

In [5]:
i = 10 # inisialisasi variabel i yang memiliki  nilai 10

if(i==10) : # pengecheckan nilai i apakah true dengan 10
    print("ini adalah angka 10") # jika TRUE maka akan mencetak kalimat ini

ini adalah angka 10

## **If else Statement ðŸ˜ª**

In [6]:
i = 5 #inisialisasi variable i yang memiliki nilai 10

if(i==10): #pengecekan nilai i apakah sama dengan 10
    print("ini adalah angka 10") #jika TRUE maka akan mencetak kalimat ini
else:
    print("bukan angka 10") #jika FALSE akan mencetak kalimat ini

bukan angka 10

### **If else elif Statement ðŸ˜Š**

In [7]:
i=3

if(i==5) :
    print("ini adalah angka 5")
elif(i>5) :
    print("ini lebih dari 5")
else :
    print("lebih kecil dari 5")

lebih kecil dari 5

# While

In [12]:
#nilai awal j =0
j = 0 

#ketika j kurang dari 6 lakukan perulangan, jika tidak stop perulangan
while j<6: 
    #lakukan perintah ini ketika perulangan
    print("Ini adalah perulangan ke -",j) 
    #setiap kali diakhir perulangan update nilai dengan ditambah 1.
    j=j+1

Ini adalah perulangan ke - 0
Ini adalah perulangan ke - 1
Ini adalah perulangan ke - 2
Ini adalah perulangan ke - 3
Ini adalah perulangan ke - 4
Ini adalah perulangan ke - 5

# For

In [2]:
for i in range(1,6): #perulangan for sebagai inisialisasi dari angka 1 hingga angka yang lebih kecil daripada 6.

    print("Ini adalah perulangan ke -", i) #perintah jika looping akan tetap berjalan

Ini adalah perulangan ke - 1
Ini adalah perulangan ke - 2
Ini adalah perulangan ke - 3
Ini adalah perulangan ke - 4
Ini adalah perulangan ke - 5

# For untuk mengakses element

In [4]:
bebas=[1,2,3,4,5] #elemen list

for number in bebas: #looping untuk menampilkan semua elemen pada count
    print("Ini adalah element count : ", number) #menampilkan elemen list pada count

Ini adalah element count :  1
Ini adalah element count :  2
Ini adalah element count :  3
Ini adalah element count :  4
Ini adalah element count :  5

# Function

In [7]:
# Membuat Fungsi
def salam():
    print("Hello, Selamat Pagi")

## Pemanggilan Fungsi
salam()

Hello, Selamat Pagi

# Fungsi dengan Parameter

In [5]:
def luas_segitiga(alas, tinggi): #alas dan tinggi merupakan parameter yang masuk
    luas = (alas * tinggi) / 2
    print("Luas segitiga: %f" % luas);

In [6]:
# Pemanggilan fungsi
##4 dan 6 merupakan parameter yang diinputkan kedalam fungsi luas segitiga
luas_segitiga(4, 6)

Luas segitiga: 12.000000

# Fungsi dengan Return Value

In [8]:
#alas dan tinggi merupakan parameter yang masuk
def luas_segitiga(alas, tinggi):
    luas = (alas * tinggi) / 2
    return luas


# Pemanggilan fungsi
##4 dan 6 merupakan parameter yang diinputkan kedalam fungsi luas segitiga 
print("Luas segitiga: %d" % luas_segitiga(4, 6))

Luas segitiga: 12

# Import Package dan menggunakan Modul

In [9]:
import math
print("Nilai pi adalah:", math.pi)  # math.pi merupakan sintak untuk memanggil fungsi pi

Nilai pi adalah: 3.141592653589793

# Import dengan modul rename atau alias

In [10]:
#menggunakan m sebagai module rename atau alias
import math as m

#m.pi merupakan sintak untuk memanggil fungsi
print("Nilai pi adalah:", m.pi)

Nilai pi adalah: 3.141592653589793

# Import Sebagian fungsi

In [11]:
from math import pi

print("Nilai pi adalah", pi)

Nilai pi adalah 3.141592653589793

# Membaca Teks File (CSV)

In [12]:
import requests
from contextlib import closing
import csv

# tentukan lokasi file, nama file, dan inisialisasi csv
url = 'https://storage.googleapis.com/dqlab-dataset/penduduk_gender_head.csv'

# baca file csv secara streaming 
with closing(requests.get(url, stream=True)) as r:
    f = (line.decode('utf-8') for line in r.iter_lines())

    reader = csv.reader(f, delimiter=',')

    # membaca baris per baris
    for row in reader:
        print(row)

['TAHUN', 'NAMA PROVINSI', 'NAMA KABUPATEN/KOTA', 'NAMA KECAMATAN', 'NAMA KELURAHAN', 'LAKI-LAKI WNI', 'PEREMPUAN WNI', 'LAKI-LAKI WNA', 'PEREMPUAN WNA', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'GAMBIR', 'GAMBIR', '1790', '1690', '1', '2', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'GAMBIR', 'CIDENG', '9159', '9206', '5', '6', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'GAMBIR', 'PETOJO UTARA', '10811', '10436', '10', '8', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'GAMBIR', 'PETOJO SELATAN', '8455', '8023', '5', '7', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'GAMBIR', 'KEBON KELAPA', '6300', '6078', '6', '10', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'GAMBIR', 'DURI PULO', '13056', '12588', '2', '6', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'SAWAH BESAR', 'PASAR BARU', '7557', '7552', '34', '55', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'SAWAH BESAR', 'KARANG ANYAR', '16327', '15859', '4', '2', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'SAWAH BESAR', 'KARTINI', '13610', '13808', '3', '3', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'SAWAH BESAR', 'GUNUNG SAHARI UTARA', '9734', '9889', '15', '30', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'SAWAH BESAR', 'MANGGA DUA SELATAN', '17269', '16458', '42', '33', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'KEMAYORAN', 'KEMAYORAN', '12365', '11932', '6', '8', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'KEMAYORAN', 'KEBON KOSONG', '15933', '15665', '33', '25', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'KEMAYORAN', 'HARAPAN MULIA', '13523', '13049', '2', '3', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'KEMAYORAN', 'SERDANG', '17284', '17020', '1', '1', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'KEMAYORAN', 'GUNUNG SAHARI SELATAN', '11730', '11487', '13', '15', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'KEMAYORAN', 'CEMPAKA BARU', '19103', '18601', '', '3', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'KEMAYORAN', 'SUMUR BATU', '13441', '13288', '20', '13', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'KEMAYORAN', 'UTAN PANJANG', '17125', '16351', '4', '3', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'SENEN', 'SENEN', '4236', '3975', '10', '7', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'SENEN', 'KENARI', '5445', '5252', '2', '', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'SENEN', 'PASEBAN', '13787', '13477', '', '', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'SENEN', 'KRAMAT', '17482', '16331', '2', '2', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'SENEN', 'KWITANG', '9176', '9148', '1', '1', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'SENEN', 'BUNGUR', '11200', '10849', '4', '3', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'CEMPAKA PUTIH', 'CEMPAKA PUTIH TIMUR', '13630', '13686', '24', '24', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'CEMPAKA PUTIH', 'CEMPAKA PUTIH BARAT', '20029', '19681', '12', '2', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'CEMPAKA PUTIH', 'RAWASARI', '12462', '12465', '1', '3', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'MENTENG', 'MENTENG', '14576', '14610', '7', '10', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'MENTENG', 'PEGANGSAAN', '13392', '13214', '2', '', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'MENTENG', 'CIKINI', '4825', '4772', '5', '1', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'MENTENG', 'GONDANGDIA', '2196', '2443', '11', '13', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'MENTENG', 'KEBON SIRIH', '7976', '7439', '2', '2', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'TANAH ABANG', 'GELORA', '1865', '1883', '6', '2', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'TANAH ABANG', 'BENDUNGAN HILIR', '12713', '12582', '11', '2', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'TANAH ABANG', 'KARET TENGSIN', '11002', '10271', '10', '3', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'TANAH ABANG', 'PETAMBURAN', '20112', '18794', '17', '13', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'TANAH ABANG', 'KEBON MELATI', '19826', '18672', '8', '4', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'TANAH ABANG', 'KEBON KACANG', '12873', '12357', '3', '4', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'TANAH ABANG', 'KAMPUNG BALI', '7348', '7205', '3', '1', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'JOHAR BARU', 'JOHAR BARU', '21016', '20953', '2', '', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'JOHAR BARU', 'KAMPUNG RAWA', '13337', '12499', '1', '', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'JOHAR BARU', 'GALUR', '11077', '10259', '', '', '', '', '', '', '', '', '', '', '']
['2013', 'PROVINSI DKI JAKARTA', 'JAKARTA PUSAT', 'JOHAR BARU', 'TANAH TINGGI', '22680', '21450', '', '', '', '', '', '', '', '', '', '', '']

# Membaca file CSV menggunakan PANDAS

In [13]:
import pandas as pd
pd.set_option("display.max_columns",50)

table = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/penduduk_gender_head.csv")
table.head()
print(table)

    TAHUN         NAMA PROVINSI NAMA KABUPATEN/KOTA NAMA KECAMATAN  \
0    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT         GAMBIR
1    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT         GAMBIR
2    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT         GAMBIR
3    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT         GAMBIR
4    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT         GAMBIR
5    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT         GAMBIR
6    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    SAWAH BESAR
7    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    SAWAH BESAR
8    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    SAWAH BESAR
9    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    SAWAH BESAR
10   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    SAWAH BESAR
11   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
12   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
13   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
14   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
15   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
16   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
17   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
18   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
19   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT          SENEN
20   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT          SENEN
21   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT          SENEN
22   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT          SENEN
23   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT          SENEN
24   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT          SENEN
25   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT  CEMPAKA PUTIH
26   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT  CEMPAKA PUTIH
27   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT  CEMPAKA PUTIH
28   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT        MENTENG
29   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT        MENTENG
30   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT        MENTENG
31   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT        MENTENG
32   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT        MENTENG
33   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    TANAH ABANG
34   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    TANAH ABANG
35   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    TANAH ABANG
36   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    TANAH ABANG
37   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    TANAH ABANG
38   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    TANAH ABANG
39   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    TANAH ABANG
40   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT     JOHAR BARU
41   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT     JOHAR BARU
42   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT     JOHAR BARU
43   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT     JOHAR BARU

           NAMA KELURAHAN  LAKI-LAKI WNI  PEREMPUAN WNI  LAKI-LAKI WNA  \
0                  GAMBIR           1790           1690            1.0
1                  CIDENG           9159           9206            5.0
2            PETOJO UTARA          10811          10436           10.0
3          PETOJO SELATAN           8455           8023            5.0
4            KEBON KELAPA           6300           6078            6.0
5               DURI PULO          13056          12588            2.0
6              PASAR BARU           7557           7552           34.0
7            KARANG ANYAR          16327          15859            4.0
8                 KARTINI          13610          13808            3.0
9     GUNUNG SAHARI UTARA           9734           9889           15.0
10     MANGGA DUA SELATAN          17269          16458           42.0
11              KEMAYORAN          12365          11932            6.0
12           KEBON KOSONG          15933          15665           33.0
13          HARAPAN MULIA          13523          13049            2.0
14                SERDANG          17284          17020            1.0
15  GUNUNG SAHARI SELATAN          11730          11487           13.0
16           CEMPAKA BARU          19103          18601            NaN
17             SUMUR BATU          13441          13288           20.0
18           UTAN PANJANG          17125          16351            4.0
19                  SENEN           4236           3975           10.0
20                 KENARI           5445           5252            2.0
21                PASEBAN          13787          13477            NaN
22                 KRAMAT          17482          16331            2.0
23                KWITANG           9176           9148            1.0
24                 BUNGUR          11200          10849            4.0
25    CEMPAKA PUTIH TIMUR          13630          13686           24.0
26    CEMPAKA PUTIH BARAT          20029          19681           12.0
27               RAWASARI          12462          12465            1.0
28                MENTENG          14576          14610            7.0
29             PEGANGSAAN          13392          13214            2.0
30                 CIKINI           4825           4772            5.0
31             GONDANGDIA           2196           2443           11.0
32            KEBON SIRIH           7976           7439            2.0
33                 GELORA           1865           1883            6.0
34        BENDUNGAN HILIR          12713          12582           11.0
35          KARET TENGSIN          11002          10271           10.0
36             PETAMBURAN          20112          18794           17.0
37           KEBON MELATI          19826          18672            8.0
38           KEBON KACANG          12873          12357            3.0
39           KAMPUNG BALI           7348           7205            3.0
40             JOHAR BARU          21016          20953            2.0
41           KAMPUNG RAWA          13337          12499            1.0
42                  GALUR          11077          10259            NaN
43           TANAH TINGGI          22680          21450            NaN

    PEREMPUAN WNA  Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12  \
0             2.0         NaN          NaN          NaN          NaN
1             6.0         NaN          NaN          NaN          NaN
2             8.0         NaN          NaN          NaN          NaN
3             7.0         NaN          NaN          NaN          NaN
4            10.0         NaN          NaN          NaN          NaN
5             6.0         NaN          NaN          NaN          NaN
6            55.0         NaN          NaN          NaN          NaN
7             2.0         NaN          NaN          NaN          NaN
8             3.0         NaN          NaN          NaN          NaN
9            30.0         NaN          NaN          NaN          NaN
10           33.0         NaN          NaN          NaN          NaN
11            8.0         NaN          NaN          NaN          NaN
12           25.0         NaN          NaN          NaN          NaN
13            3.0         NaN          NaN          NaN          NaN
14            1.0         NaN          NaN          NaN          NaN
15           15.0         NaN          NaN          NaN          NaN
16            3.0         NaN          NaN          NaN          NaN
17           13.0         NaN          NaN          NaN          NaN
18            3.0         NaN          NaN          NaN          NaN
19            7.0         NaN          NaN          NaN          NaN
20            NaN         NaN          NaN          NaN          NaN
21            NaN         NaN          NaN          NaN          NaN
22            2.0         NaN          NaN          NaN          NaN
23            1.0         NaN          NaN          NaN          NaN
24            3.0         NaN          NaN          NaN          NaN
25           24.0         NaN          NaN          NaN          NaN
26            2.0         NaN          NaN          NaN          NaN
27            3.0         NaN          NaN          NaN          NaN
28           10.0         NaN          NaN          NaN          NaN
29            NaN         NaN          NaN          NaN          NaN
30            1.0         NaN          NaN          NaN          NaN
31           13.0         NaN          NaN          NaN          NaN
32            2.0         NaN          NaN          NaN          NaN
33            2.0         NaN          NaN          NaN          NaN
34            2.0         NaN          NaN          NaN          NaN
35            3.0         NaN          NaN          NaN          NaN
36           13.0         NaN          NaN          NaN          NaN
37            4.0         NaN          NaN          NaN          NaN
38            4.0         NaN          NaN          NaN          NaN
39            1.0         NaN          NaN          NaN          NaN
40            NaN         NaN          NaN          NaN          NaN
41            NaN         NaN          NaN          NaN          NaN
42            NaN         NaN          NaN          NaN          NaN
43            NaN         NaN          NaN          NaN          NaN

    Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17
0           NaN          NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN          NaN
5           NaN          NaN          NaN          NaN          NaN
6           NaN          NaN          NaN          NaN          NaN
7           NaN          NaN          NaN          NaN          NaN
8           NaN          NaN          NaN          NaN          NaN
9           NaN          NaN          NaN          NaN          NaN
10          NaN          NaN          NaN          NaN          NaN
11          NaN          NaN          NaN          NaN          NaN
12          NaN          NaN          NaN          NaN          NaN
13          NaN          NaN          NaN          NaN          NaN
14          NaN          NaN          NaN          NaN          NaN
15          NaN          NaN          NaN          NaN          NaN
16          NaN          NaN          NaN          NaN          NaN
17          NaN          NaN          NaN          NaN          NaN
18          NaN          NaN          NaN          NaN          NaN
19          NaN          NaN          NaN          NaN          NaN
20          NaN          NaN          NaN          NaN          NaN
21          NaN          NaN          NaN          NaN          NaN
22          NaN          NaN          NaN          NaN          NaN
23          NaN          NaN          NaN          NaN          NaN
24          NaN          NaN          NaN          NaN          NaN
25          NaN          NaN          NaN          NaN          NaN
26          NaN          NaN          NaN          NaN          NaN
27          NaN          NaN          NaN          NaN          NaN
28          NaN          NaN          NaN          NaN          NaN
29          NaN          NaN          NaN          NaN          NaN
30          NaN          NaN          NaN          NaN          NaN
31          NaN          NaN          NaN          NaN          NaN
32          NaN          NaN          NaN          NaN          NaN
33          NaN          NaN          NaN          NaN          NaN
34          NaN          NaN          NaN          NaN          NaN
35          NaN          NaN          NaN          NaN          NaN
36          NaN          NaN          NaN          NaN          NaN
37          NaN          NaN          NaN          NaN          NaN
38          NaN          NaN          NaN          NaN          NaN
39          NaN          NaN          NaN          NaN          NaN
40          NaN          NaN          NaN          NaN          NaN
41          NaN          NaN          NaN          NaN          NaN
42          NaN          NaN          NaN          NaN          NaN
43          NaN          NaN          NaN          NaN          NaN